nav
  .container
    input#navbar-toggler(type="checkbox")
    label(for="navbar-toggler")
      span
      span
      span
    ul#navbar-nav
      li
        a(href="/home") Accueil
      li
        a(href="/todos") Liste des tâches