doctype html
html
  head
    meta(charset="utf-8")
    link(href="/css/style.css" rel="stylesheet")
    title Page d'Accueil
    script(src="/js/my-script.js" type="module")
  body
    include includes/nav
    h1 Page d'Accueil


select#userSelect.user-selection
  option(value="user1") Utilisateur 1
  option(value="user2") Utilisateur 2
  option(value="user3") Utilisateur 3